body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0.3rem;
    text-align: center;
}

nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/**/

.menu {
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 30px 0;
    text-decoration: none;
    color: #333;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu a::before {
    content: '';
    position: absolute;
    left: -50px; /* Adjust this value to position the circle */
    top: 50%;
    transform: translateY(-50%);
    width: 30px; /* Diameter of the circle */
    height: 30px; /* Diameter of the circle */
    background-color: rgba(255, 255, 255, 1); /* Color of the circle */
    border-radius: 50%;
}
